<!DOCTYPE html>
<html>

    <body style="background-color:black">
        {% extends "layout2.html" %}
        {% block content %}

        <div class="welcome" style="color: white;">
            <h1 style="font-size: 60px;
            text-align: center;
            font-weight: 900;
            font-family: Tahoma;">Keep it up! you finished successfully!</h1>
           </div>
           <a  href="/" style="position:absolute;
           margin-left: 800px;
           margin-top: 300px; color: white; font-family:Tahoma;">Go Back Home!</a>
        {% endblock %}

    <image
                style="position: absolute;
                    width: 391px;
                    height: 385px;
                    left: -8px;
                    top: 203px;
                    padding-left: 350px;"
                    <img src="https://img.freepik.com/premium-vector/vector-champions-cup-icon-logo_508290-2726.jpg?w=740" height="70px" width="70px">>
        </image>

    </body>
</html>