<!DOCTYPE html>
<center lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body bgcolor="teal">
<br>



<!-- <div class="select your workout">
            <a  href="/gainMusclePlan" style="position:absolute;
            margin-left: 1150px;
            margin-top: 200px; color: white;">Gain Muscle and be Lean!</a>
        </div> -->

<div class = "welcomePic">

        </div>

<center><h1 style="color:black;font-size:70px;">Welcome {{name}}!</h1> </center>
<center><h2 style="color:black;font-size:40px;"> Have a look at your activity history</h2></center></body>
<style>
p {
  color: black;
  text-indent: 90px;
}
</style>
    <center><p> <span style="font-size: 30px"> This run was performed on date and time given as {{ dt }}</span></p> </center><br>
<center><p> <span style="font-size: 26px">The maximum speed of your run in kms is {{ details }}</span></p></center>
<center><p> <span style="font-size: 26px">The average speed of your run in kms is {{ speed }}</span></p></center>
    <center><p> <span style="font-size: 26px"> The distance(in metres) covered by you is {{ dist }}</span></p> </center>

</body>


<style> body {background-image: url('https://images.everydayhealth.com/images/cs-how-to-exercise-with-metastatic-nsclc-1440x810.jpg?w=1110'); background-repeat: no-repeat;
  background-size: cover;} </style>
</html>