<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <center><h1> LOGIN PAGE </h1></center>
</head>
<body bgcolor="orange">

<form action="form_login" method="post">
  <center><h2>Enter your credentials</h2>Username:<br> </center>
  <center><input type="text" name='username' size = "70"></center><br>
  <center>Password:<br></center>
  <center><input  name='password' size = "70" ></center><br><br>
<center><input type="submit" value="Login"></center>
</form>
<h1 >{{info}}</h1>

</body>
<style> body {background-image: url('https://images.pexels.com/photos/4397833/pexels-photo-4397833.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'); height: 100%;

  /* Center and scale the image nicely */
  /*background-position: center;*/
  background-repeat: no-repeat;
  background-size: cover;</style>
</html>