<!DOCTYPE html>
<html>

    <body style="background-color: coral;">
        {% extends "layout2.html" %}
        {% block content %}
<image
                style="position: absolute;
                    width: 450px;
                    height: 450px;
                    left: 100px;
                    top: 150px;
                    padding-left: 40px;"
                    <img src="https://static01.nyt.com/images/2017/04/09/well/9minute-workout-promo/9minute-workout-promo-jumbo.png" height="70px" width="70px">>
        </image>
        <div class="welcome" style="color: black;">
            <h1 style="font-size: 65px;
            text-align: center;
            font-weight: 800;
            font-family: baloo;">Select one to proceed</h1>
           </div>
           <!-- <div class="fat">
            <a  href="/form_login" style="position:absolute;
            margin-left: 600px;
            margin-top: 200px; color: white;">Lose Body Fat!</a> -->
        <div class="Aunthentication">
            <a  href="/authenticate" style="position:absolute;
            margin-left: 950px;
            margin-top: 200px; color: white;">JOGGING RECORDS</a>
        </div>

            <div class="select your workout">
            <a  href="/gainMusclePlan" style="
            margin-left: 950px;
            margin-top: 200px; color: white;">EXERCISE MENU</a>
        </div>
        {% endblock %}

    </body>
</html>
